<html>
{{template "header.tmpl.html"}}
<body>

<div class="jumbotron text-center" style="background-color: orange">
    <div class="container">
        <h2>Awesome Page Views Data</h2>
    </div>
</div>
<div class="container">
    <ul class="list-group col-6">
        <li class="list-group-item d-flex justify-content-between align-items-center">
           Total Views
            <span class="badge badge-primary badge-pill">{{.views}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Unique Users
            <span class="badge badge-primary badge-pill">{{.uniqueUsers}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            StartDate
            <span class="badge badge-primary badge-pill">{{.startDate}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            EndDate
            <span class="badge badge-primary badge-pill">{{.endDate}}</span>
        </li>
    </ul>
</div>

</body>
</html>
